.DS_Store
.idea/
vendor/
cghooks.lock
/src/Resources/public/administration/
/src/Resources/app/storefront/dist/storefront/*
!/src/Resources/app/storefront/dist/storefront/paynl-payment-shopware6-64.js
!/src/Resources/app/storefront/dist/storefront/paynl-payment-shopware6-65.js
/src/Resources/app/storefront/node_modules
