parameters:
  autoload_directories:
    - /usr/src/app/vendor/shopware
services:
  -
    class: TheCodingMachine\PHPStan\Rules\TypeHints\MissingTypeHintInFunctionRule
    tags:
      - phpstan.rules.rule
  -
    class: TheCodingMachine\PHPStan\Rules\TypeHints\MissingTypeHintInMethodRule
    tags:
      - phpstan.rules.rule