<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.1/phpunit.xsd"
         cacheResult="false"
         bootstrap="./tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="PaynlPayment Testsuite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tests_coverage/"/>
    </logging>
</phpunit>
