@import "~scss/variables";

.text-right {
  text-align: right;
}

.paynl-refund-page {
  .sw-field {
    margin-bottom: 0;
  }
}

.refund-card {
  .sw-order-user-card__summary-vertical {
    dt:first-child {
      padding: 4px;
    }
  }

  .refund-button-block {
    text-align: right;
  }
}


