{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_form_submit %}
    <div class="paynl-process-message d-none">{{ 'checkout.messages.completePaymentPin'|trans }}</div>
    {{ parent() }}
{% endblock %}

{% block page_checkout_aside_actions %}
    {% set formAddHistoryOptions = {
        entries: [{
            state: {},
            title: 'account.ordersTitle'|trans,
            url: path('frontend.checkout.Paynl.history.back')
        }]
    } %}
    {{ parent() }}
{% endblock %}

