@import './../../node_modules/vanillajs-datepicker/sass/datepicker';

.datepicker-dropdown.active {
    z-index: 1051;
}

.paynl-payment-methods-custom-styles .payment-method {
    position: relative;
}

.paynl-payment-methods-custom-styles .payment-method,
.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
    padding-right: 25px;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra input.form-control,
.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra .paynl-ideal-banks-select {
    max-width: 200px;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra .form-group {
    margin-right: 5px;
}

.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label:before,
.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label:after {
    top: 20%;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-paynl-payment-tooltip {
    position: absolute;
    top: 5px;
    right: 0;
}

.paynl-paynl-payment-tooltip.do_not_show {
    display: none !important;
}

.paynl-payment-method-extra {
    padding-left: 1.5rem;
    display: none;
}

.paynl-payment-methods-custom-styles .paynl-payment-method-extra.active {
    display: flex;
}

.paynl-payment-method-extra.active {
    display: block;
}

.custom-control.custom-select.invalid,
.form-control.invalid {
    border-color: #f00;
}

@media screen and (max-width: 767px) {
    .paynl-payment-methods-custom-styles .payment-method,
    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
        width: 100%;
        padding-right: 0;
    }

    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper .paynl-payment-method-extra {
        width: 100%;
        justify-content: space-between;
    }

    .paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label {
        padding-right: 25px;
    }

    .paynl-paynl-payment-tooltip.show_only_desktop {
        display: none;
    }
}
