.paynl-payment-methods-custom-styles .payment-method {
    position: relative;
}

.paynl-payment-methods-custom-styles .payment-method,
.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
    padding-right: 25px;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra input.form-control,
.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra .paynl-ideal-banks-select {
    max-width: 200px;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra .form-group {
    margin-right: 5px;
}

.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label:before,
.paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label:after {
    top: 20%;
}

.paynl-payment-methods-custom-styles .payment-method .paynl-paynl-payment-tooltip {
    position: absolute;
    top: 5px;
    right: 0;
}

.paynl-paynl-payment-tooltip.do_not_show {
    display: none !important;
}

.paynl-payment-method-extra {
    padding-left: 1.5rem;
    display: none;
}

.paynl-payment-methods-custom-styles .paynl-payment-method-extra.active {
    display: flex;
}

.paynl-payment-method-extra.active {
    display: block;
}

.custom-control.custom-select.invalid,
.form-control.invalid {
    border-color: #f00;
}

.paynl-payment-methods-custom-styles .payment-method-description {
    width: 100%;
}

.paynl-process-message {
    margin: 5px 0;
    text-align: center;
}

/* CSE */
.paynl-payment-method-cse fieldset, .paynl-payment-method-cse legend {
    border: 0;
}
.paynl-payment-method-cse [data-credit-card-type] {
    display: block;
    height: inherit;
    background-size: cover;
}
.paynl-payment-method-cse .form-element-container {
    display: block;
}
.paynl-payment-method-cse .has-icon-container {
    flex-direction: row;
    box-sizing: border-box;
    flex: 0 1 auto;
}
.paynl-payment-method-cse .has-icon-wrap {
    position: relative;
}
.paynl-payment-method-cse .has-icon-container .icon-container {
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 3px;
    height: 31px;
}
.paynl-payment-method-cse .has-icon-container .input-container {
    position: relative;
    margin: 0;
    padding: 0;
}
.paynl-payment-method-cse .has-icon-container .input-container input {
    position: relative;
}
.paynl-payment-method-cse button[type=submit] {
    height: 50px;
}
.paynl-payment-method-cse button[type=submit] span {
    display: none;
}
.paynl-payment-method-cse button[type=submit] span.not-loading {
    margin: 1em;
}
.paynl-payment-method-cse button[type=submit] span.loading {
    margin: 1em;
}
.paynl-payment-method-cse button[data-loading-state="0"] .state-loading {
    display: none;
}
.paynl-payment-method-cse button[data-loading-state="0"] .state-not-loading {
    display: inline-block;
}
.paynl-payment-method-cse button[data-loading-state="1"] {
    padding: 0;
}
.paynl-payment-method-cse button[data-loading-state="1"] .state-loading {
    margin-top: 5px;
    display: inline-block;
}
.paynl-payment-method-cse button[data-loading-state="1"] .state-not-loading {
    display: none;
}
.paynl-payment-method-cse .row-pan-cvc-group, .paynl-payment-method-cse .row-expiry-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.paynl-payment-method-cse .row-pan-cvc-group .column-pan {
    flex-basis: 75%;
}
.paynl-payment-method-cse .row-pan-cvc-group .column-cvc {
    flex-basis: 20%;
}
.paynl-payment-method-cse .row-expiry-group .column-month {
    flex-basis: 75%;
}
.paynl-payment-method-cse .row-expiry-group .column-year {
    flex-basis: 20%;
}


@media screen and (max-width: 767px) {
    .paynl-payment-methods-custom-styles .payment-method,
    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper {
        width: 100%;
        padding-right: 0;
    }

    .paynl-payment-methods-custom-styles .payment-method .paynl-payment-method-extra-wrapper .paynl-payment-method-extra {
        width: 100%;
        justify-content: space-between;
    }

    .paynl-payment-methods-custom-styles .payment-method .custom-control-label.payment-method-label {
        padding-right: 25px;
    }

    .paynl-paynl-payment-tooltip.show_only_desktop {
        display: none;
    }
}
