.paynl-image {
  max-height: 50px !important;
  margin-right: 15px;
  float: left;
}

.paynl-ideal-banks,
.paynl-paylater-fields {
  display: inline-block;
}

.paynl-paylater-fields {
    margin-left: 80px;
    align-self: center;
    align-content: space-between;
}

.paynl-paylater-input-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paynl-paylater-input-block label {
    white-space: nowrap;
    float: right;
}

.paynl-paylater-fields input {
    display: flex;
    width: 160px;
    margin-left: 0.5rem;
}

.paynl-button-container {
  display: none;
  float: right;
}

.paynl-savebutton {
  display: none;
  float: right;
}

.paynl-diguise {
  display: none;
}

#paynl-cocfield{
  display: none;
}

.paynl-modal-buttons,
.paynl-payment-method-label {
    align-self: center;
}

.paynl-payment-method-description {
    display: inline-flex;
    align-self: center;
}

.paynl-payment-method-banks {
    display: inline-flex;
    margin-left: 130px;
    margin-right: 1rem;
    align-self: center;
}

.paynl-payment-method-block {
    min-height: 40px;
}

.payment-method .form-group {
    margin-bottom: 1rem;
}

.custom-radio .paynl-payment-method-label::after,
.custom-radio .paynl-payment-method-label::before {
    top: 25%;
}
.paynl-paynl-payment-tooltip {
    display: inline-flex;
    height: 24px;
    margin-left: 10px;
}

.paynl-paynl-payment-tooltip:focus {
    outline: none;
}

.tooltip-inner {
    background-color: white;
    color: black;
    border: 1px solid #bcc1c7;
    text-align: right;
}

.tooltip.bs-tooltip-left .arrow:before{
    border-left-color: #bcc1c7;
}
