.paynl-image {
  max-height: 50px !important;
  margin-right: 15px;
  float: left;
}

.paynl-ideal-banks {
  display: inline-block;
}

.paynl-button-container {
  display: none;
  float: right;
}

.paynl-savebutton {
  display: none;
  float: right;
}

.paynl-diguise {
  display: none;
}

#paynl-cocfield{
  display: none;
}

.paynl-payment-method-description {
  display: inline-block;
}

.paynl-modal-buttons {
  float: right;
}