<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API</title>
        <title lang="de-DE">API</title>
        <title lang="nl-NL">API</title>

        <input-field>
            <name>tokenCode</name>
            <copyable>true</copyable>
            <label>Token-Code (AT-xxxx-xxxx)</label>
            <label lang="nl-NL">Token-Code (AT-xxxx-xxxx)</label>
            <label lang="de-DE">Token-Code (AT-xxxx-xxxx)</label>
            <helpText>The AT-code belonging to your API-token, you can find your tokencode at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">De AT-code die bij je API-token hoort, je kunt deze vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Der AT-Code, der zu Ihrem API-token gehört, finden Sie unter: https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>apiToken</name>
            <copyable>true</copyable>
            <label>API-token</label>
            <label lang="nl-NL">API-token</label>
            <label lang="de-DE">API-token</label>
            <helpText>Your API token, you can find your API tokens at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">Uw API-token, u kunt uw API-tokens vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Ihr API-Token finden Sie unter https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>serviceId</name>
            <copyable>true</copyable>
            <label>Service-ID (SL-xxxx-xxxx)</label>
            <label lang="nl-NL">Service-ID (SL-xxxx-xxxx)</label>
            <label lang="de-DE">Service-ID (SL-xxxx-xxxx)</label>
            <helpText>Your Service-ID (SL-xxxx-xxxx), You can find your Service-ID at: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="nl-NL">Uw Service-ID (SL-xxxx-xxxx), u kunt uw Service-ID vinden op: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="de-DE">Ihre Service-ID (SL-xxxx-xxxx), Ihre Service-ID finden Sie unter: https://admin.pay.nl/programs/programs</helpText>
        </input-field>
        <input-field>
            <name>failoverGateway</name>
            <copyable>true</copyable>
            <label>Failover Gateway</label>
            <label lang="nl-NL">Failover Gateway</label>
            <label lang="de-DE">Failover Gateway</label>
            <helpText>Leave this empty unless advised otherwise by PAY.</helpText>
            <helpText lang="nl-NL">Leave this empty unless advised otherwise by PAY.</helpText>
            <helpText lang="de-DE">Leave this empty unless advised otherwise by PAY.</helpText>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test mode</label>
            <label lang="nl-NL">Test mode</label>
            <label lang="de-DE">Test mode</label>
            <helpText>Enable this if you want to start all transactions in test mode</helpText>
            <helpText lang="nl-NL">Schakel dit in als u alle transacties in de testmodus wilt starten</helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie alle Transaktionen im Testmodus starten möchten</helpText>
        </input-field>
        <input-field type="bool">
            <name>useSinglePaymentMethod</name>
            <label>Use a uniform payment method by PAY.</label>
            <label lang="nl-NL">Gebruik een uniforme betaalmethode aangeboden door PAY.</label>
            <label lang="de-DE">Verwenden Sie eine einheitliche, von PAY angebotene Zahlungsmethode.</label>
            <helpText>This option turns off all other payment methods and redirects the user to PAY's hosted payment pages.</helpText>
            <helpText lang="nl-NL">Deze optie deactiveert alternatieve betaalmethoden en stuurt de gebruiker door naar de hosted payment pages van PAY.</helpText>
            <helpText lang="de-DE">Diese Option deaktiviert alternative Zahlungsmethoden und leitet den Benutzer auf die gehosteten Zahlungsseiten von PAY um.</helpText>
        </input-field>
        <component name="paynl-config-section-api">
            <name>paynlConfigSectionApi</name>
        </component>
    </card>
    <card>
        <title>Payments</title>
        <title lang="de-DE">Zahlungen</title>
        <title lang="nl-NL">Betalingen</title>

        <input-field type="bool">
            <name>cocNumberRequired</name>
            <label>CoC number required</label>
            <label lang="nl-NL">KvK nummer verplicht</label>
            <label lang="de-DE">IHK-Nummer erforderlich</label>
            <helpText>This will make the CoC number, at registration, a required field for commercial customers only</helpText>
            <helpText lang="nl-NL">Dit maakt het KvK nummer, bij registratie, een verplicht veld voor zakelijke klanten</helpText>
            <helpText lang="de-DE">Damit wird die IHK-Nummer bei der Registrierung ein Pflichtfeld nur für Geschäftskunden</helpText>
        </input-field>
        <input-field type="bool">
            <name>allowRefunds</name>
            <label>Allow refunds</label>
            <label lang="nl-NL">Restituties toestaan</label>
            <label lang="de-DE">Erstattungen zulassen</label>
            <helpText>Enable this to allow refunds to be processed from the order list</helpText>
            <helpText lang="nl-NL">Schakel dit in om toe te staan dat restituties worden verwerkt vanuit de bestellijst</helpText>
            <helpText lang="de-DE">AAktivieren Sie diese Option, damit Rückerstattungen von der Bestellliste verarbeitet werden können</helpText>
        </input-field>
        <input-field type="bool">
            <name>surchargePaymentMethods</name>
            <label>Surcharge payment methods</label>
            <label lang="nl-NL">Surcharging</label>
            <label lang="de-DE">Zuschläge für Zahlungsarten</label>
            <helpText>Enabled this option to add surcharges to payment methods </helpText>
            <helpText lang="nl-NL">Activeer deze optie, om een toeslag (surcharge) toe te voegen aan betaalmethoden</helpText>
            <helpText lang="de-DE">Aktivieren Sie diese Option, um Zuschläge zu Zahlungsmethoden hinzuzufügen</helpText>
        </input-field>
        <input-field type="bool">
            <name>usePAYStyles</name>
            <label>Use styles by PAY.</label>
            <label lang="nl-NL">Gebruik PAY. stijl</label>
            <label lang="de-DE">Stile nach PAY. verwenden</label>
            <helpText>Enable this to use styles by PAY. in payment method selection screen at the checkout</helpText>
            <helpText lang="nl-NL">Enable this to use styles by PAY. on payment methods form</helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, um die Stile von PAY. im Auswahlbildschirm für Zahlungsmethoden zu verwenden, im Checkout</helpText>
        </input-field>
        <input-field type="single-select">
            <name>showDescription</name>
            <label>Payment methods description</label>
            <label lang="nl-NL">Betaalmethoden beschrijving</label>
            <label lang="de-DE">Beschreibung der Zahlungsmethoden</label>
            <placeholder>Payment methods description</placeholder>
            <placeholder lang="nl-NL">Betaalmethoden beschrijving</placeholder>
            <placeholder lang="de-DE">Beschreibung der Zahlungsmethoden</placeholder>
            <options>
                <option>
                    <id>show_payment_method_info</id>
                    <name>Show payment method info</name>
                    <name lang="nl-NL">Toon betaalmethode beschrijving</name>
                    <name lang="de-DE">Zahlungsinformationen anzeigen</name>
                </option>
                <option>
                    <id>do_not_show</id>
                    <name>Do not show payment method info</name>
                    <name lang="nl-NL">Betaalmethode beschrijving niet tonen</name>
                    <name lang="de-DE">Zahlungsinformationen nicht anzeigen</name>
                </option>
                <option>
                    <id>show_only_desktop</id>
                    <name>Show only on desktop</name>
                    <name lang="nl-NL">Alleen op desktop tonen</name>
                    <name lang="de-DE">Nur auf dem Desktop anzeigen</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>additionalAddressFields</name>
            <label>Use additional address fields</label>
            <label lang="nl-NL">Extra adres velden gebruiken</label>
            <label lang="de-DE">Zusätzliche adressfelder verwenden</label>
            <helpText>Enable this when you are using additional address field 1 and 2 for house number and house number addition</helpText>
            <helpText lang="nl-NL">Schakel dit in wanneer u extra adresveld 1 en 2 gebruikt voor huisnummer en huisnummertoevoeging </helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie das zusätzliche Adressfeld 1 und 2 für das Hinzufügen von Hausnummer und Hausnummer verwenden</helpText>
        </input-field>
        <input-field>
            <name>femaleSalutations</name>
            <label>Female salutations</label>
            <label lang="de-DE">Weibliche Anrede</label>
            <label lang="nl-NL">Vrouwelijke begroetingen</label>
            <placeholder>mrs, ms, miss, ma'am, frau, mevrouw, mevr</placeholder>
            <helpText>Female salutations, used to determine the gender of the customer</helpText>
            <helpText lang="de-DE">Weibliche Anreden, verwendet, um das Geschlecht des Kunden zu bestimmen</helpText>
            <helpText lang="nl-NL">Vrouwelijke begroetingen, gebruikt om het geslacht van de klant te bepalen</helpText>
        </input-field>
        <input-field type="single-select">
            <name>paymentScreenLanguage</name>
            <label>Payment screen language</label>
            <label lang="nl-NL">Taal betaalscherm</label>
            <label lang="de-DE">Sprache des Zahlungsbildschirms</label>
            <options>
                <option>
                    <id>nl</id>
                    <name>Dutch</name>
                    <name lang="nl-NL">Nederlands</name>
                    <name lang="de-DE">Niederländisch</name>
                </option>
                <option>
                    <id>en</id>
                    <name>English</name>
                    <name lang="nl-NL">Engels</name>
                    <name lang="de-DE">Englisch</name>
                </option>
                <option>
                    <id>es</id>
                    <name>Spanish</name>
                    <name lang="nl-NL">Spaans</name>
                    <name lang="de-DE">Spanisch</name>
                </option>
                <option>
                    <id>it</id>
                    <name>Italian</name>
                    <name lang="nl-NL">Italiaans</name>
                    <name lang="de-DE">Italienisch</name>
                </option>
                <option>
                    <id>fr</id>
                    <name>French</name>
                    <name lang="nl-NL">Frans</name>
                    <name lang="de-DE">Französisch</name>
                </option>
                <option>
                    <id>de</id>
                    <name>German</name>
                    <name lang="nl-NL">Duits</name>
                    <name lang="de-DE">Deutsch</name>
                </option>
                <option>
                    <id>cart</id>
                    <name>Shopware language</name>
                    <name lang="nl-NL">Shopware taal</name>
                    <name lang="de-DE">Shopware-Sprache</name>
                </option>
                <option>
                    <id>auto</id>
                    <name>Automatic (Browser language)</name>
                    <name lang="nl-NL">Automatisch (browser taal)</name>
                    <name lang="de-DE">Automatisch (Browser-Sprache)</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>transferGoogleAnalytics</name>
            <label>Transfer analytics to Pay.</label>
            <label lang="nl-NL">Stuur Analytics data naar Pay.</label>
            <label lang="de-DE">Analytik an Pay. übertragen</label>
            <helpText>When you enable this option, the plugin will send Google Analytics data to Pay.</helpText>
            <helpText lang="nl-NL">Wanneer je deze optie activeert, stuurt de plugin Google Analytics data naar Pay.</helpText>
            <helpText lang="de-DE">Wenn Sie diese Option aktivieren, sendet das Plugin Google Analytics-Daten an Pay.</helpText>
        </input-field>
        <input-field type="single-select">
            <name>ipSettings</name>
            <label>IP Settings</label>
            <label lang="de-DE">IP-Einstellung</label>
            <label lang="nl-NL">IP instelling</label>
            <options>
                <option>
                    <id>default</id>
                    <name>Default (SDK function)</name>
                    <name lang="de-DE">Default (SDK-Funktion)</name>
                    <name lang="nl-NL">Default (SDK functie)</name>
                </option>
                <option>
                    <id>httpForwarded</id>
                    <name>HTTP forwarded</name>
                    <name lang="de-DE">HTTP forwarded</name>
                    <name lang="nl-NL">HTTP forwarded</name>
                </option>
                <option>
                    <id>remoteAddress</id>
                    <name>Remote address</name>
                    <name lang="de-DE">Remote address</name>
                    <name lang="nl-NL">Remote address</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>automaticShipping</name>
            <label>Automatic Capture based on Shipment status</label>
            <label lang="de-DE">Automatische Erfassung basierend auf dem Sendungsstatus</label>
            <label lang="nl-NL">Automatische Capture op basis van verzendstatus</label>
            <helpText>When enabled, the plugin will automatically send a capture (payment) notification to Pay. when the delivery status changes to 'shipped'. This applies to transactions in state AUTHORIZE.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, sendet das Plugin automatisch eine Erfassungsbenachrichtigung (Zahlungsbenachrichtigung) an Pay, wenn sich der Lieferstatus in "versandt" ändert. Dies gilt für Transaktionen im Status AUTHORIZED.</helpText>
            <helpText lang="nl-NL">Wanneer ingeschakeld, zal de plugin automatisch een capture naar Pay. sturen wanneer de verzendstatus verandert in 'verzonden'. Dit geldt alleen voor transacties met de status AUTHORIZE.</helpText>
        </input-field>
        <input-field type="bool">
            <name>automaticCancellation</name>
            <label>Automatic Cancellation based on Order status</label>
            <label lang="de-DE">Automatische Void aufgrund des Auftragsstatus</label>
            <label lang="nl-NL">Automatische annulering op basis van orderstatus</label>
            <helpText>When activated, the plugin will automatically void a transaction in Pay. when the order status is changed to 'cancelled'. This applies to transactions in the state AUTHORIZE.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, wird eine Transaktion in Pay. automatisch void, wenn der Status der Bestellung auf "storniert" geändert wird. Dies gilt für Transaktionen im Status AUTHORIZE.</helpText>
            <helpText lang="nl-NL">Wanner ingeschakeld, zal de plugin automatisch een transactie voiden in Pay. wanneer de orderstatus wordt gewijzigd in 'geannuleerd'. Dit geldt alleen voor transacties met de status AUTHORIZE. </helpText>
        </input-field>
    </card>

    <card>
        <title>Order State Automation</title>
        <title lang="de-DE">Automatisch Order Status setzen</title>
        <title lang="nl-NL">Automatisch bestelstatus instellen</title>

        <name>order_state_automation</name>

        <input-field type="single-select">
            <name>orderStateWithPaidTransaction</name>
            <label>Order state with a paid transaction</label>
            <label lang="de-DE">Bestellstatus bei einer bezahlten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een betaalde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>orderStateWithFailedTransaction</name>
            <label>Order state with a failed transaction</label>
            <label lang="de-DE">Bestellstatus bei einer fehlgeschlagenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een mislukte transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>orderStateWithCancelledTransaction</name>
            <label>Order state with a cancelled transaction</label>
            <label lang="de-DE">Bestellstatus bei einer abgebrochenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geannuleerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithAuthorizedTransaction</name>
            <label>Order state with an authorized transaction</label>
            <label lang="de-DE">Bestellstatus bei einer authorisierten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geautoriseerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>PIN payment</title>
        <title lang="de-DE">PIN payment</title>

        <name>payment_pin</name>

        <input-field type="single-select">
            <name>paymentPinTerminal</name>
            <label>Selected terminal</label>
            <label lang="nl-NL">Taal betaalscherm</label>
            <label lang="de-DE">Sprache des Zahlungsbildschirms</label>
            <options>
                <option>
                    <id>checkout</id>
                    <name>Choose in checkout</name>
                    <name lang="de-DE">In der Kasse auswählen</name>
                    <name lang="nl-NL">Kies bij het afrekenen</name>
                </option>
                <option>
                    <id>checkout_save</id>
                    <name>Choose in checkout and save</name>
                    <name lang="de-DE">An der Kasse auswählen und sparen</name>
                    <name lang="nl-NL">Kies bij het afrekenen en bespaar</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
