<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="nl-NL">Configuratie</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field>
            <name>tokenCode</name>
            <label>Token-Code (AT-xxxx-xxxx)</label>
            <label lang="nl-NL">Token-Code (AT-xxxx-xxxx)</label>
            <label lang="de-DE">Token-Code (AT-xxxx-xxxx)</label>
            <helpText>The AT-code belonging to your API-token, you can find your tokencode at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">De AT-code die bij je API-token hoort, je kunt deze vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Der AT-Code, der zu Ihrem API-token gehört, finden Sie unter: https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>apiToken</name>
            <label>API-token</label>
            <label lang="nl-NL">API-token</label>
            <label lang="de-DE">API-token</label>
            <helpText>Your API token, you can find your API tokens at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">Uw API-token, u kunt uw API-tokens vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Ihr API-Token finden Sie unter https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>serviceId</name>
            <label>Service-ID (SL-xxxx-xxxx)</label>
            <label lang="nl-NL">Service-ID (SL-xxxx-xxxx)</label>
            <label lang="de-DE">Service-ID (SL-xxxx-xxxx)</label>
            <helpText>Your Service-ID (SL-xxxx-xxxx), You can find your Service-ID at: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="nl-NL">Uw Service-ID (SL-xxxx-xxxx), u kunt uw Service-ID vinden op: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="de-DE">Ihre Service-ID (SL-xxxx-xxxx), Ihre Service-ID finden Sie unter: https://admin.pay.nl/programs/programs</helpText>
        </input-field>
        <input-field type="bool">
            <name>useSinglePaymentMethod</name>
            <label>Use a uniform payment method by PAY.</label>
            <label lang="nl-NL">Gebruik een uniforme betaalmethode aangeboden door PAY.</label>
            <label lang="de-DE">Verwenden Sie eine einheitliche, von PAY angebotene Zahlungsmethode.</label>
            <helpText>This option turns off all other payment methods and redirects the user to PAY's hosted payment pages.</helpText>
            <helpText lang="nl-NL">Deze optie deactiveert alternatieve betaalmethoden en stuurt de gebruiker door naar de hosted payment pages van PAY.</helpText>
            <helpText lang="de-DE">Diese Option deaktiviert alternative Zahlungsmethoden und leitet den Benutzer auf die gehosteten Zahlungsseiten von PAY um.</helpText>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test mode</label>
            <label lang="nl-NL">Test mode</label>
            <label lang="de-DE">Test mode</label>
            <helpText>Enable this if you want to start all transactions in test mode</helpText>
            <helpText lang="nl-NL">Schakel dit in als u alle transacties in de testmodus wilt starten</helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie alle Transaktionen im Testmodus starten möchten</helpText>
        </input-field>
        <input-field type="bool">
            <name>cocNumberRequired</name>
            <label>CoC number required</label>
            <label lang="nl-NL">KvK nummer verplicht</label>
            <label lang="de-DE">IHK-Nummer erforderlich</label>
            <helpText>This will make the CoC number, at registration, a required field for commercial customers only</helpText>
            <helpText lang="nl-NL">Dit maakt het KvK nummer, bij registratie, een verplicht veld voor zakelijke klanten</helpText>
            <helpText lang="de-DE">Damit wird die IHK-Nummer bei der Registrierung ein Pflichtfeld nur für Geschäftskunden</helpText>
        </input-field>
        <input-field type="bool">
            <name>allowRefunds</name>
            <label>Allow refunds</label>
            <label lang="nl-NL">Restituties toestaan</label>
            <label lang="de-DE">Erstattungen zulassen</label>
            <helpText>Enable this to allow refunds to be processed from the order list</helpText>
            <helpText lang="nl-NL">Schakel dit in om toe te staan dat restituties worden verwerkt vanuit de bestellijst</helpText>
            <helpText lang="de-DE">AAktivieren Sie diese Option, damit Rückerstattungen von der Bestellliste verarbeitet werden können</helpText>
        </input-field>
        <input-field type="bool">
            <name>usePAYStyles</name>
            <label>Use styles by PAY.</label>
            <label lang="nl-NL">Gebruik PAY. stijl</label>
            <label lang="de-DE">Stile nach PAY. verwenden</label>
            <helpText>Enable this to use styles by PAY. in payment method selection screen at the checkout</helpText>
            <helpText lang="nl-NL">Enable this to use styles by PAY. on payment methods form</helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, um die Stile von PAY. im Auswahlbildschirm für Zahlungsmethoden zu verwenden, im Checkout</helpText>
        </input-field>
        <input-field type="single-select">
            <name>showDescription</name>
            <label>Payment methods description</label>
            <label lang="nl-NL">Betaalmethoden beschrijving</label>
            <label lang="de-DE">Beschreibung der Zahlungsmethoden</label>
            <placeholder>Payment methods description</placeholder>
            <placeholder lang="nl-NL">Betaalmethoden beschrijving</placeholder>
            <placeholder lang="de-DE">Beschreibung der Zahlungsmethoden</placeholder>
            <options>
                <option>
                    <id>show_payment_method_info</id>
                    <name>Show payment method info</name>
                    <name lang="nl-NL">Toon betaalmethode beschrijving</name>
                    <name lang="de-DE">Zahlungsinformationen anzeigen</name>
                </option>
                <option>
                    <id>do_not_show</id>
                    <name>Do not show payment method info</name>
                    <name lang="nl-NL">Betaalmethode beschrijving niet tonen</name>
                    <name lang="de-DE">Zahlungsinformationen nicht anzeigen</name>
                </option>
                <option>
                    <id>show_only_desktop</id>
                    <name>Show only on desktop</name>
                    <name lang="nl-NL">Alleen op desktop tonen</name>
                    <name lang="de-DE">Nur auf dem Desktop anzeigen</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>additionalAddressFields</name>
            <label>Use additional address fields</label>
            <label lang="nl-NL">Extra adres velden gebruiken</label>
            <label lang="de-DE">Zusätzliche adressfelder verwenden</label>
            <helpText>Enable this when you are using additional address field 1 and 2 for house number and house number addition</helpText>
            <helpText lang="nl-NL">Schakel dit in wanneer u extra adresveld 1 en 2 gebruikt voor huisnummer en huisnummertoevoeging </helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie das zusätzliche Adressfeld 1 und 2 für das Hinzufügen von Hausnummer und Hausnummer verwenden</helpText>
        </input-field>
        <input-field>
            <name>femaleSalutations</name>
            <label>Female salutations</label>
            <label lang="de-DE">Weibliche Anrede</label>
            <label lang="nl-NL">Vrouwelijke begroetingen</label>
            <placeholder>mrs, ms, miss, ma'am, frau, mevrouw, mevr</placeholder>
            <helpText>Female salutations, used to determine the gender of the customer</helpText>
            <helpText lang="de-DE">Weibliche Anreden, verwendet, um das Geschlecht des Kunden zu bestimmen</helpText>
            <helpText lang="nl-NL">Vrouwelijke begroetingen, gebruikt om het geslacht van de klant te bepalen</helpText>
        </input-field>
        <input-field type="single-select">
            <name>paymentScreenLanguage</name>
            <label>Payment screen language</label>
            <label lang="nl-NL">Taal betaalscherm</label>
            <label lang="de-DE">Sprache des Zahlungsbildschirms</label>
            <options>
                <option>
                    <id>nl</id>
                    <name>Dutch</name>
                    <name lang="nl-NL">Nederlands</name>
                    <name lang="de-DE">Niederländisch</name>
                </option>
                <option>
                    <id>en</id>
                    <name>English</name>
                    <name lang="nl-NL">Engels</name>
                    <name lang="de-DE">Englisch</name>
                </option>
                <option>
                    <id>es</id>
                    <name>Spanish</name>
                    <name lang="nl-NL">Spaans</name>
                    <name lang="de-DE">Spanisch</name>
                </option>
                <option>
                    <id>it</id>
                    <name>Italian</name>
                    <name lang="nl-NL">Italiaans</name>
                    <name lang="de-DE">Italienisch</name>
                </option>
                <option>
                    <id>fr</id>
                    <name>French</name>
                    <name lang="nl-NL">Frans</name>
                    <name lang="de-DE">Französisch</name>
                </option>
                <option>
                    <id>de</id>
                    <name>German</name>
                    <name lang="nl-NL">Duits</name>
                    <name lang="de-DE">Deutsch</name>
                </option>
                <option>
                    <id>cart</id>
                    <name>Shopware language</name>
                    <name lang="nl-NL">Shopware taal</name>
                    <name lang="de-DE">Shopware-Sprache</name>
                </option>
                <option>
                    <id>auto</id>
                    <name>Automatic (Browser language)</name>
                    <name lang="nl-NL">Automatisch (browser taal)</name>
                    <name lang="de-DE">Automatisch (Browser-Sprache)</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>transferGoogleAnalytics</name>
            <label>Transfer analytics to PAY.</label>
            <label lang="nl-NL">Stuur analytics via PAY.</label>
            <label lang="de-DE">Transfer analytics to PAY.</label>
            <helpText>This option turns on sending google analytics.</helpText>
            <helpText lang="nl-NL">This option turns on sending google analytics.</helpText>
            <helpText lang="de-DE">This option turns on sending google analytics.</helpText>
        </input-field>
    </card>

    <card>
        <title>Order State Automation</title>
        <title lang="de-DE">Automatisch Order Status setzen</title>
        <title lang="nl-NL">Automatisch bestelstatus instellen</title>

        <name>order_state_automation</name>

        <input-field type="single-select">
            <name>orderStateWithPaidTransaction</name>
            <label>Order state with a paid transaction</label>
            <label lang="de-DE">Bestellstatus bei einer bezahlten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een betaalde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>orderStateWithFailedTransaction</name>
            <label>Order state with a failed transaction</label>
            <label lang="de-DE">Bestellstatus bei einer fehlgeschlagenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een mislukte transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>orderStateWithCancelledTransaction</name>
            <label>Order state with a cancelled transaction</label>
            <label lang="de-DE">Bestellstatus bei einer abgebrochenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geannuleerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithAuthorizedTransaction</name>
            <label>Order state with an authorized transaction</label>
            <label lang="de-DE">Bestellstatus bei einer authorisierten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geautoriseerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Done</name>
                    <name lang="de-DE">Done</name>
                    <name lang="nl-NL">Done</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>PIN payment</title>
        <title lang="de-DE">PIN payment</title>

        <name>payment_pin</name>

        <input-field type="single-select">
            <name>paymentPinTerminal</name>
            <label>Selected terminal</label>
            <label lang="nl-NL">Taal betaalscherm</label>
            <label lang="de-DE">Sprache des Zahlungsbildschirms</label>
        </input-field>
    </card>
</config>
