<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="nl-NL">Configuratie</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field>
            <name>tokenCode</name>
            <label>Token-Code (AT-xxxx-xxxx)</label>
            <label lang="nl-NL">Token-Code (AT-xxxx-xxxx)</label>
            <label lang="de-DE">Token-Code (AT-xxxx-xxxx)</label>
            <helpText>The AT-code belonging to your API-token, you can find your tokencode at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">De AT-code die bij je API-token hoort, je kunt deze vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Der AT-Code, der zu Ihrem API-token gehört, finden Sie unter: https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>apiToken</name>
            <label>API-token</label>
            <label lang="nl-NL">API-token</label>
            <label lang="de-DE">API-token</label>
            <helpText>Your API token, you can find your API tokens at: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="nl-NL">Uw API-token, u kunt uw API-tokens vinden op: https://admin.pay.nl/company/tokens</helpText>
            <helpText lang="de-DE">Ihr API-Token finden Sie unter https://admin.pay.nl/company/tokens</helpText>
        </input-field>
        <input-field>
            <name>serviceId</name>
            <label>Service-ID (SL-xxxx-xxxx)</label>
            <label lang="nl-NL">Service-ID (SL-xxxx-xxxx)</label>
            <label lang="de-DE">Service-ID (SL-xxxx-xxxx)</label>
            <helpText>Your Service-ID (SL-xxxx-xxxx), You can find your Service-ID at: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="nl-NL">Uw Service-ID (SL-xxxx-xxxx), u kunt uw Service-ID vinden op: https://admin.pay.nl/programs/programs</helpText>
            <helpText lang="de-DE">Ihre Service-ID (SL-xxxx-xxxx), Ihre Service-ID finden Sie unter: https://admin.pay.nl/programs/programs</helpText>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test mode</label>
            <label lang="nl-NL">Test mode</label>
            <label lang="de-DE">Test mode</label>
            <helpText>Enable this if you want to start all transactions in test mode</helpText>
            <helpText lang="nl-NL">Schakel dit in als u alle transacties in de testmodus wilt starten</helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie alle Transaktionen im Testmodus starten möchten</helpText>
        </input-field>
        <input-field type="bool">
            <name>allowRefunds</name>
            <label>Allow refunds</label>
            <label lang="nl-NL">Restituties toestaan</label>
            <label lang="de-DE">Erstattungen zulassen</label>
            <helpText>Enable this to allow refunds to be processed from the order list</helpText>
            <helpText lang="nl-NL">Schakel dit in om toe te staan dat restituties worden verwerkt vanuit de bestellijst</helpText>
            <helpText lang="de-DE">AAktivieren Sie diese Option, damit Rückerstattungen von der Bestellliste verarbeitet werden können</helpText>
        </input-field>
        <input-field type="bool">
            <name>additionalAddressFields</name>
            <label>Use additional address fields</label>
            <label lang="nl-NL">Extra adres velden gebruiken</label>
            <label lang="de-DE">Zusätzliche adressfelder verwenden</label>
            <helpText>Enable this when you are using additional address field 1 and 2 for house number and house number addition</helpText>
            <helpText lang="nl-NL">Schakel dit in wanneer u extra adresveld 1 en 2 gebruikt voor huisnummer en huisnummertoevoeging </helpText>
            <helpText lang="de-DE">Aktivieren Sie dies, wenn Sie das zusätzliche Adressfeld 1 und 2 für das Hinzufügen von Hausnummer und Hausnummer verwenden</helpText>
        </input-field>
        <input-field>
            <name>femaleSalutations</name>
            <label>Female salutations</label>
            <label lang="de-DE">Weibliche Anrede</label>
            <label lang="nl-NL">Vrouwelijke begroetingen</label>
            <placeholder>mrs, ms, miss, ma'am, frau, mevrouw, mevr</placeholder>
            <helpText>Female salutations, used to determine the gender of the customer</helpText>
            <helpText lang="de-DE">Weibliche Anreden, verwendet, um das Geschlecht des Kunden zu bestimmen</helpText>
            <helpText lang="nl-NL">Vrouwelijke begroetingen, gebruikt om het geslacht van de klant te bepalen</helpText>
        </input-field>
    </card>
</config>
