{% block sw_order_detail_base_secondary_info_payment %}
    <template v-if="currentOrder.transactions.length > 0">
        <dl>
            <dt>{{ $tc('sw-order.detailBase.labelPaymentMethod') }}</dt>
        </dl>
        <dd>
            {{ currentOrder.transactions.last().paymentMethod.translated.name}}
            <span v-if="payIssuer">({{ payIssuer }})</span>
        </dd>
    </template>
{% endblock %}
