{% block refund_view %}
    <sw-page class="sw-order-detail">
        <sw-search-bar></sw-search-bar>
        <sw-notification-center></sw-notification-center>
        <router-link></router-link>
        <sw-card-view slot="content">
            <h1>test</h1>
        </sw-card-view>
    </sw-page>
{% endblock %}
