<tr class="sw-data-grid__row">
    <td class="sw-data-grid__cell sw-data-grid__cell--paynlTransactionId sw-data-grid__cell--align-left">
        <div class="sw-data-grid__cell-content">{{ product.label }}</div>
    </td>
    <td class="sw-data-grid__cell sw-data-grid__cell--paynlTransactionId sw-data-grid__cell--align-left">
        <div class="sw-data-grid__cell-content">{{ product.price.unitPrice }}</div>
    </td>
    <td class="sw-data-grid__cell sw-data-grid__cell--paynlTransactionId sw-data-grid__cell--align-left">
        <div class="sw-data-grid__cell-content">{{ product.price.quantity }}</div>
    </td>
    <td class="sw-data-grid__cell sw-data-grid__cell--paynlTransactionId sw-data-grid__cell--align-left">
        <div class="sw-data-grid__cell-content">
            <sw-select-field :value="productQuantity" :options="getProductQuantitySelect()" @update:value="onProductRefundQuantityChange" @change="onProductRefundQuantityChange"></sw-select-field>
        </div>
    </td>
    <td class="sw-data-grid__cell sw-data-grid__cell--selection">
        <div class="sw-data-grid__cell-content">
            <sw-checkbox-field v-model="product.rstk" @update:value="onRestockChange" @change="onRestockChange"></sw-checkbox-field>
        </div>
    </td>
</tr>
