{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_payment_content %}
    <div class="d-inline">
        <strong>{{ context.customer.defaultPaymentMethod.translated.name }}</strong>
        {% if app.session.get('paynlIssuer') and context.paymentMethod.translated.customFields.banks %}
            {% for bank in context.paymentMethod.translated.customFields.banks %}
                {% if bank.id is same as(app.session.get('paynlIssuer')) %}
                    ({{ bank.visibleName }})
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <p>{{ context.customer.defaultPaymentMethod.description }}</p>
{% endblock %}
