{% block component_paynl_ideal_express_button %}
    <a href="{{ path('frontend.account.PaynlPayment.ideal-express.start-payment') }}" id="btn-fast-checkout"
       style="background-image: url('{{ asset('bundles/paynlpaymentshopware6/logos/ideal/ecs/fastCheckoutIdeal.png') }}')"
       title="{{ "payment.idealExpressCheckout.buttonTitle" | trans }}">{{ "payment.idealExpressCheckout.buttonTitle" | trans }}
    </a>
{% endblock %}
