{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    {% if config('PaynlPaymentShopware6.config.paymentIdealExpressCheckoutEnabled') and page.cart.price.totalPrice > 0
        and ((config('PaynlPaymentShopware6.config.paymentIdealExpressCheckoutLoggedInCustomerEnabled') and context.customer.guest)
        or not context.customer)
    %}
        {% block utilities_offcanvas_paynl_ideal_express_button %}
            <div class="text-center mt-3">
                {% sw_include '@PaynlPaymentShopware6/storefront/component/checkout/ideal-express-button.html.twig' %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
