{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% set expressSettings = page.extensions[constant('PaynlPayment\\Shopware6\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}

    {% if expressSettings.expressCheckoutEnabled and page.cart.price.totalPrice > 0 %}
        <div class="row">
            <div class="col-sm-12 col-md-5 pb-2">
                {% sw_include '@PaynlPaymentShopware6/storefront/component/ecs-checkout/ecs-button.html.twig' with {button_class: 'btn-block'} %}
            </div>
        </div>
    {% endif %}

    {% set expressSettings = page.extensions[constant('PaynlPayment\\Shopware6\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::IDEAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}

    {% if config('PaynlPaymentShopware6.config.paymentIdealExpressCheckoutEnabled') and page.cart.price.totalPrice > 0 %}
        {% block page_checkout_address_paynl_ideal_express_button %}
                <div class="row">
                    <div class="col-sm-12 col-md-5 pb-2">
                        {% sw_include '@PaynlPaymentShopware6/storefront/component/checkout/ideal-express-button.html.twig' %}
                    </div>
                </div>
        {% endblock %}
    {% endif %}
{% endblock %}
