{% block refund_card %}
    <sw-card class="sw-order-user-card"
        :title="$tc('refund.detailBase.cardTitleRefund')"
        :isLoading="isLoading">

        {% block sw_order_detail_base_address_modal %}
            <sw-order-address-modal v-if="addressBeingEdited"
                                    :countries="countries"
                                    :address="addressBeingEdited"
                                    :order="currentOrder"
                                    :versionContext="versionContext"
                                    @address-select="onAddressModalAddressSelected"
                                    @reset="onResetOrder"
                                    @save="onAddressModalSave"
                                    @error="$emit('error')">
            </sw-order-address-modal>
        {% endblock %}

        <sw-container slot="grid" rows="auto auto">

            {% block sw_order_user_card_row_primary %}
                <sw-card-section divider="bottom">

                    {% block sw_order_user_card_metadata_container %}
                        <sw-container columns="80px 1fr max-content"
                                      gap="0px 30px"
                                      align="center"
                                      class="sw-order-user-card__container">

                            {% block sw_order_user_card_avatar %}
                                <sw-avatar size="80px"
                                           :color="$route.meta.$module.color"
                                           :firstName="currentOrder.orderCustomer.firstName"
                                           :lastName="currentOrder.orderCustomer.lastName">
                                </sw-avatar>
                            {% endblock %}

                            {% block sw_order_user_card_metadata %}
                                <div class="sw-order-user-card__metadata">
                                    {% block sw_order_user_card_metadata_user_name %}
                                        <div v-if="currentOrder.orderCustomer" class="sw-order-user-card__metadata-user-name">
                                            {{ fullName }}
                                        </div>
                                    {% endblock %}
                                    {% block sw_order_user_card_metadata_tags %}
                                         {#TODO: add versioning after NEXT-3898 and activate it editing mode and disable in non-editing mode #}
                                        <sw-entity-tag-select v-if="isEditing || hasTags"
                                                              class="sw-order-user-card__tag-select"
                                                              :placeholder="$tc('sw-order.detailBase.placeholderTagSelect')"
                                                              :size="!isEditing ? 'default' : 'medium'"
                                                              :disabled="!isEditing"
                                                              :entityCollection="currentOrder.tags"
                                                              @item-add="onAddTag"
                                                              @item-remove="onRemoveTag">
                                        </sw-entity-tag-select>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block sw_order_detail_base_info_summary %}
                                <div class="sw-order-user-card__info-summary">
                                    {% block  sw_order_detail_base_info_summary_entries %}
                                        <div class="sw-order-user-card__metadata-price">
                                            {{ currentOrder.amountTotal | currency(currentOrder.currency.translated.shortName) }}
                                        </div>

                                        <div class="sw-order-user-card__metadata-item">
                                            {{ orderDate }}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                        </sw-container>
                    {% endblock %}

                    <slot name="additional-actions">
                        {% block sw_order_user_card_slot_additional_actions%}{% endblock %}
                    </slot>

                    {% block sw_order_detail_base_order_overview_columns %}
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="30px 30px">

                            {% block sw_order_detail_base_order_overview_left_column %}
                                <sw-description-list columns="1fr" grid="1fr" class="sw-order-user-card__summary-vertical">
                                    {% block refund_page_view__order_number %}
                                        <dt>{{ $tc('refund.detailBase.headlineOrderNumber') }}</dt>
                                        <dd>{{ currentOrder.orderNumber }}</dd>
                                    {% endblock %}
                                    {% block refund_page_view__amount_input %}
                                        <dt>{{ $tc('refund.detailBase.headlineAmountInput') }}</dt>
                                        <dd>
                                            <sw-text-field placeholder="Amount to refund" name="amountInput"></sw-text-field>
                                        </dd>
                                    {% endblock %}
                                </sw-description-list>
                            {% endblock %}

                            {% block sw_order_detail_base_order_overview_right_column %}
                                <sw-description-list columns="1fr" grid="1fr" class="sw-order-user-card__summary-vertical">

                                    {% block refund_page_view__transaction %}
                                        <dt>{{ $tc('refund.detailBase.headlineTransaction') }}</dt>
                                        <dd>transaction</dd>
                                    {% endblock %}
                                    {% block refund_page_view__description_input %}
                                        <dt>{{ $tc('refund.detailBase.headlineDescriptionInput') }}</dt>
                                        <dd>
                                            <sw-text-field placeholder="Description" name="descriptionInput"></sw-text-field>
                                        </dd>
                                    {% endblock %}
                                    {% block refund_page_view__refund_button %}
                                        <dd class="refund-button-block">
                                            <sw-button variant="primary">{{ $tc('refund.detailBase.cardTitleRefund') }}</sw-button>
                                        </dd>
                                    {% endblock %}
                                </sw-description-list>
                            {% endblock %}

                        </sw-container>
                    {% endblock %}

                </sw-card-section>
            {% endblock %}

            {% block sw_order_user_card_row_secondary %}
                <sw-card-section secondary slim>

                    {% block sw_order_detail_base_secondary_info_order_overview %}
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="30px 30px">

                            {% block sw_order_detail_base_secondary_info_order_overview_contents %}
                                <sw-description-list columns="1fr" grid="1fr" class="sw-order-user-card__summary-vertical">

                                    {% block sw_order_detail_base_secondary_info_order_overview_left_column %}

                                        {% block refund_page_view__paynl_transaction_id %}
                                            <dt>{{ $tc('refund.detailBase.paynlTransactionId') }}</dt>
                                            <dd>paynl_transaction_id</dd>
                                        {% endblock %}

                                        {% block refund_page_view__paid_amount %}
                                            <dt>{{ $tc('refund.detailBase.paidAmount') }}</dt>
                                            <dd>paynlTransactionId</dd>
                                        {% endblock %}

                                    {% endblock %}
                                </sw-description-list>

                                <sw-description-list columns="1fr" grid="1fr" class="sw-order-user-card__summary-vertical">
                                    {%  block sw_order_detail_base_secondary_info_order_overview_right_column %}

                                        {% block refund_page_view__refunded_amount %}
                                            <dt>{{ $tc('refund.detailBase.refundedAmount') }}</dt>
                                            <dd>refundedAmount</dd>
                                        {% endblock %}

                                        {% block refund_page_view__available_for_refund %}
                                            <dt>{{ $tc('refund.detailBase.availableForRefund') }}</dt>
                                            <dd>availableForRefund</dd>
                                        {% endblock %}

                                    {% endblock %}

                                </sw-description-list>
                            {% endblock %}

                        </sw-container>
                    {% endblock %}

                </sw-card-section>
            {% endblock %}

        </sw-container>
    </sw-card>

{% endblock %}
