{% block paynl_payment %}
<sw-page>
    {% block paynl_payment_header %}
    <template #smart-bar-header>
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <mt-icon name="regular-chevron-right-xs" />
            {{ $tc('paynlSettings.general.title') }}
        </h2>
    </template>
    {% endblock %}

    {% block paynl_payment_actions %}
    <template #smart-bar-actions>
        {% block paynl_payment_settings_actions_save %}
        <sw-button-process
                class="sw-settings-login-registration__save-action"
                :is-loading="isLoading"
                :process-success="isSaveSuccessful"
                :disabled="isDisabled"
                variant="primary"
                @update:process-success="saveFinish"
                @click="onSave">
            {{ $tc('paynlSettings.settingsForm.save') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block paynl_payment_settings_content %}
    <template #content>
        <sw-card-view>
            <sw-system-config
                    class="paynl-config__wrapper"
                    ref="systemConfig"
                    inherit
                    @config-changed="onConfigChange"
                    sales-channel-switchable
                    domain="PaynlPaymentShopware6.config">

                <template #beforeElements="{card, config}">
                    <div v-if="isCollapsible(card)" class="paynl-config__collapsible-container" v-bind:class="{'collapsed': isCollapsed(card)}" >
                        <a class="paynl-config__collapsible-handle" @click="toggleCollapsible(card)">
                            <mt-icon v-if="isCollapsed(card)" name="regular-chevron-down-xxs" class="paynl-config__collapsible-handle-open"></mt-icon>
                            <mt-icon v-if="!isCollapsed(card)" name="regular-chevron-up-xxs" class="paynl-config__collapsible-handle-close"></mt-icon>
                        </a>
                    </div>
                </template>
            </sw-system-config>
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
