{% block paynl_payment %}
<sw-page>
    {% block paynl_payment_header %}
    <template #smart-bar-header>
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <sw-icon name="small-arrow-medium-right" small></sw-icon>
            {{ $tc('paynlSettings.general.title') }}
        </h2>
    </template>
    {% endblock %}

    {% block paynl_payment_actions %}
    <template #smart-bar-actions>
        {% block paynl_payment_settings_actions_save %}
        <sw-button-process
                class="sw-settings-login-registration__save-action"
                :isLoading="isLoading"
                :processSuccess="isSaveSuccessful"
                :disabled="isDisabled"
                variant="primary"
                @process-finish="saveFinish"
                @click="onSave">
            {{ $tc('paynlSettings.settingsForm.save') }}
        </sw-button-process>
        {% endblock %}

        {% block paynl_payment_settings_actions_install_payment_methods %}
        <sw-button-process
                class="sw-settings-login-registration__save-action"
                :isLoading="isInstallLoading"
                :processSuccess="isInstallSuccessful"
                :disabled="isDisabled"
                variant="primary"
                @process-finish="installFinish"
                @click="onInstallPaymentMethods">
            {{ $tc('paynlSettings.settingsForm.installPaymentMethods') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block paynl_payment_settings_content %}
    <template #content>
        <sw-card-view>
            <sw-system-config
                    ref="systemConfig"
                    inherit
                    @config-changed="onConfigChange"
                    salesChannelSwitchable
                    domain="PaynlPaymentShopware6.settings">

                <template #card-element="{ element, config }" data-new-data="acl.can('paynl_settings.editor')">
                    <sw-form-field-renderer
                        v-if="element.name.startsWith('PaynlPaymentShopware6.settings.paymentScreenLanguage')"
                        :config="{
                                componentName: 'sw-single-select',
                                label: getInlineSnippet(getElementBind(bindOriginalField(element, config)).config.label),
                                helpText: getInlineSnippet(getElementBind(bindOriginalField(element, config)).config.helpText),
                                options: paymentScreenLanguageItems,
                            }"
                        :disabled="isDisabled"
                        v-model="config[element.name]"/>
                    />

                    <sw-form-field-renderer
                        v-else-if="element.type.startsWith('single-select')"
                        :disabled="isDisabled"
                        v-bind="getElementBind(bindOriginalField(element, config))"
                        v-model="config[element.name]"/>
                    />

                    <sw-form-field-renderer
                        v-else
                        :disabled="isDisabled"
                        v-bind="bindField(element, config)"
                        v-model="config[element.name]"/>
                </template>
            </sw-system-config>
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
