@import "~scss/variables";

.paynl-config__wrapper {
    .sw-card {
        .paynl-config__collapsible-container {
            text-align: right;

            &:not(.collapsed) {
                margin-bottom: 22px;
            }
        }

        .paynl-config__collapsible-handle {
            cursor: pointer;
            color: $color-darkgray-200;

            border: 1px solid $color-gray-300;
            border-radius: $border-radius-default;

            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 0;
            padding: 5px;

            &:hover {
                background-color: $color-shopware-brand-50;
            }
        }
    }
}
